[Unit]
Description=rock encoder server service
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/home/rock/Documents/Hortus-Deliciarum/rot-rock/core/rock_encoder_server.py
Type=idle

[Install]
WantedBy=multi-user.target
