[Unit]
Description=rock button client service
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/home/rock/Documents/Hortus-Deliciarum/rot-rock/core/rock_button_client.py
Type=idle

[Install]
WantedBy=multi-user.target
