[Unit]
Description=puredata service
StartLimitIntervalSec=0
Requires=rock_jackd.service

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
User=root
ExecStartPre=/bin/sleep 10
ExecStart=/home/rock/.puredata
Type=idle

[Install]
WantedBy=multi-user.target
