[Unit]
Description=jackd service
StartLimitIntervalSec=0

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
User=rock
ExecStart=/home/rock/.jackdrc
Type=idle

[Install]
WantedBy=multi-user.target
