[Unit]
Description=rock encoder client service
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/home/rock/Documents/Hortus-Deliciarum/rock-fx/core/rock_encoder_client.py
Type=idle

[Install]
WantedBy=multi-user.target
